@import "value.scss";

::selection{
    background: Color(.3,.8);
    color: LightColor(.5);
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: Color(.7);
}

::-webkit-scrollbar-thumb:hover {
    background-color: Color();
}

:focus-visible {
    outline: 2px solid Color();
}

[overflow-bar-none]::-webkit-scrollbar {
    width: 0;
    height: 0;
}