@import "../../../styles/value.scss";

#hoverTips2 {
    opacity: 0;
    width: auto !important;
    height: auto !important;
  }

  #hoverTips,
  #hoverTips2 {
    position: fixed;
    z-index: 99999999;
    padding: 5px 10px;
    font-size: 15px;
    transform: translate(10%, 25%) scale(.5);
    border-radius: 5px;
    backdrop-filter: blur($blur-effect);
    background: Color(.5, .3);
    pointer-events: none;
    box-shadow: 0 0 10px #0008;
    opacity: 0;
    width: 0px;
    height: 0px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    transition:
      all $transition-duration $transition-timing-function $transition-delay,
      opacity $transition-duration ease-in-out .4s,
      transform $transition-duration cubic-bezier(.5,0,1,0) .3s,
      width .5s $transition-timing-function .3s,
      height .5s $transition-timing-function .3s, ;

    .title {
      font-size: 18px;
    }

  }

  #hoverTips.show {
    transform: translate(20px, -100%);
    opacity: 1;
    transition:
      all $transition-duration $transition-timing-function $transition-delay,
      opacity .3s ease-in-out 0s,
      transform .3s $transition-timing-function 0s,
      width .5s $transition-timing-function 0s,
      height .5s $transition-timing-function 0s, ;
  }

  #hoverTips.top {
    transform: translate(-50%, -10%) scale(.5);
  }

  #hoverTips.top.show {
    transform: translate(-50%, 20px);
  }

  #hoverTips.left {
    transform: translate(0%, -10%) scale(.5);
  }

  #hoverTips.left.show {
    transform: translate(0%, 20px);
  }