@import "./main.scss";
@import "./init/index.scss";
@import "./value.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background-color: Color(.06);
  overflow: hidden;
  transition:none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  color: white;
  box-sizing: border-box;
  transition: Transition();
}